.light-dark{
    color: #514949;
}
.danger{
    color: #E7332B !important;
}
.bg-danger{
    background-color: #E7332B !important;
    color: #ffffff !important;
}
.rounded-pill {
    border-radius: 2rem;
}
.thin-rule{
    margin-top: 50px; 
    margin-bottom: 0;
    border: 0px thin #0000001f !important;
}

.blend-img{
    mix-blend-mode: darken !important;
}

.bg-dark{
    background-color: #585858 !important;
    color: #FFFFFF !important;
}

.git_link {
    z-index: 190;
    height: 70px;
    width: 70px;
    position: fixed;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: hsl(0, 0%, 95%);
    background-color: #E7332B;
    top: 40vh;
    right: 15px;      
    box-shadow: 0 0 .3em #FFFAFA;     
}

.git_link:hover{
    color: #FFFFFF;
}