.section {
  width: 70%;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(75, 0, 130);
  margin: 2rem auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0.5em rgba(95, 9, 98,0.5);
  -moz-box-shadow: 0px 0px 0.5em rgba(95, 9, 98,0.5);
  box-shadow: 0px 0px 0.5em rgba(95, 9, 98,0.5);
}

.main-content {
  margin: 50px auto;
  /* height: 100vh; */
}
.main-content h1 {
  color: rgb(29, 7, 42);
}
form {
  padding-left: 28px;
  padding-right: 20px;
}

form > div {
  margin-bottom: 15px;
}

form div label {
  display: block;
}

#email,
#password,
#c-password,
select,
input[type="text"],
input[type="tel"] {
  font-size: 1em;
  width: 100%;
  padding: 5px;
  color: rgb(29, 7, 42);
  border: 1px solid rgb(106, 11, 173);
  height: 40px;
  border-radius: 5px;
}

#email:focus,
#password:focus,
#c-password:focus {
  outline: unset;
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  outline: none;
  border: unset;
  color: #ffffff;
  border-radius: 1px;
  background-color: rgb(29, 7, 42);
}

.form-control {
  /* outline: 1px solid #007B3A; */
  border: 1px solid #4b0082 !important;
  border-radius: 0.25rem !important;
}

.form-control:focus {
  outline: 1px solid #4b0082 !important;
  box-shadow: none !important;
}

.action {
  font-size: 1em;
}

.action input {
  margin-top: 10px;
  width: 100%;
}
.action span:first-child {
  display: inline-block;
  margin-top: 8px;
}

.action span a {
  color: rgb(29, 7, 42);
  text-decoration: none;
}

.action span a:hover {
  text-decoration: underline;
  text-decoration-color: tomato;
  text-decoration-thickness: 2px;
}


.row-container {
  display: flex;
  flex-flow: row wrap;
}

.row-container .boxes {
  padding: 15px;
  text-align: center;
  position: relative;  
}

.row-container .box1 {
  width: 40%;
  color: #FFFFFF;
  padding-right: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.box2>div {
  text-align: left;  
  width: 48%;
}
.box2 > h3{
  display: none;
}

.row-container .box2 {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 30px;
  justify-content: space-between;
  align-items: flex-end;
}

button.btn:hover {
  color: #FFFFFF;
}

/*mobile view*/
@media only screen and (max-width: 750px) {
  /* .section {    
    width: 310px;
  } */
}



@media screen and (max-width: 767px) {

  .box1 {
    /* border-radius: unset !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important; */
    display: none !important;
  }

  .box2 {
      border-radius: unset !important;
      border-bottom-left-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
  }

  .box2>div {
    text-align: left;  
    width: 100%;
  }

  .box2 > h3{
    display: block;
  }

  .row-container {
    flex-flow: column nowrap;
    width: 98%;
    margin: .8rem auto;
    /* -webkit-box-shadow: 0px 0px 0.5em rgb(95, 9, 98);
    -moz-box-shadow: 0px 0px 0.5em rgb(95, 9, 98);
    box-shadow: 0px 0px 0.5em rgb(95, 9, 98); */
    /* border: 1px solid rgb(218, 216, 216); */
  }
  .row-container .box2
  {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .row-container .boxes {
    width: 100%;
    padding: 15px;
  }
  
}


/* medium view */
@media only screen and (min-width: 400px) and (max-width: 1300px) {
  .row-container {
    width: 92%;
  }

}